:root {
    --yellow: #fde37c;
    --midYellow: #f5d862;
    --dark: #313131;
    --midDark: #404040;
    --lightDark: #808080;
    --lightGrey: #f5f5f5;
    --extraLightGrey : #f9f9f9;
}
.header {
    height: 100vh;
    background: linear-gradient( rgba(255, 255, 255, 0.5), rgba(255,255,255, 0.5) ), url(../images/computer.jpeg)  center/cover no-repeat fixed ;
   
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: white;
    width: 100%;
    box-shadow: 0 0 4px var(--lightGrey);
    min-height: 60px;

    background: repeating-radial-gradient(closest-side at 25px 35px, #fff 15%, #eee 40%);

    background-size:53px 53px;
}
.navbar-brand {
    font-size: 3rem;
    font-weight: 800;
}
.brand-and-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 3.5vw;


}

.navbar-toggler {
    /* color: var(--yellow); */
    color: var(--dark);
    background: none;
    padding: 0.2rem 0.7rem;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    transition: all 0.3s ease-in-out;
}
.navbar-toggler:hover {
    background-color: var(--dark);
    color: #fff;
}
.navbar-item {
    font-size: 1.8rem;
    padding: 1rem 5rem;
    transition: background .4s ease-in-out;
    cursor: pointer;
}
.navbar-item:hover {
    background-color: var(--yellow);
}
.navbar-link {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 4px;
   
}
.navbar-collapse {
    height: 0;
    overflow: hidden;
    transition: all .4s ease;
}
.showNav {
    height: 220px;
    padding-top: 1rem;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0,0,0, 0.2);
}



.header-banner--content {
    background-color: rgba(245, 245, 245, 0.85);
    /* background-color: rgba(245, 245, 245, 0.65); */

    padding: 4rem 0;
    transition: background .5s ease-in-out;
}
.header-banner--content:hover {
    background-color: rgba(245, 245, 245, 1);
}
.header-banner {
    top: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-line {
    width: 110px;
    height: 4px;
    background-color: var(--dark);
    margin: 0 auto;
}
.banner-title span {
    display: block;
    text-align: center;
}
.banner-title span:first-of-type{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 3rem;
    line-height: 1.2;
}
.banner-title span:last-of-type {
    font-size: 4.8rem;
    line-height: 2;
    text-transform: capitalize;
}
.banner-btn {
    display: block;
    margin: 2rem auto;
    text-transform:  capitalize;
    font-weight: 800;
    border: 3px solid var(--dark);
    background-color: transparent;
    padding: 1rem 4.2rem;
    transition: all .4s ease-in-out;
}
.banner-btn:hover {
    color: #fff;
    background-color: var(--dark);
}


/* ABOUT */
.title {
    padding: 2.1rem 0;
    text-align: center;
}
.title-text {
    font-size: 3.5rem;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.title-subtext {
    text-transform:  capitalize;
    word-spacing: 4px;
    border-left: 4px solid var(--midYellow);
    padding-left: 1rem;
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1.3;
}


.about-item {
    text-align:  center;
    margin:  2rem 0;
    padding:  2rem;
}
.about-icon {
    font-size: 2.8rem;
    display: block;
    width: 80px;
    height: 80px;
    background-color: var(--midYellow);
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0 auto 2rem;
    transition:  all .3s ease;
}
.about-icon:hover {
    transform: translateY(-5px);
    background-color: var(--midDark);
}
.about-title {
    color: var(--midDark);
}
.about-btn {
    text-transform: capitalize;
    background-color: var(--dark);
    color: #fff;
    padding: .7rem 1.4rem;
    display: inline-block;
    margin: 1.4rem auto 0;
    transition: all .4s ease-in-out;
}
.about-btn:hover {
    opacity: 0.8;
}

.about-sec-underline {
    background-color: var(--lightGrey);
    height: 4px;
    width: 100%;
    border-radius: 5px;
    margin: 2.8rem 0;    
}
.about-wrapper-2 > div {
    margin: 4.2rem 1.2rem;
}
.progress-group {
    padding:  2.8rem 0;
}
.progress-text {
    display: flex;
    justify-content: space-between;
}
.progress {
    margin:  .98rem 0 2.1rem;
    height: 10px;
    position: relative;
    background: var(--lightGrey);
    border-radius: 6px;
}
.progress-icon  {
    font-size: 3rem;
    color: var(--dark);
}
.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--yellow);
    border-radius: 10px;
}
.progress-bar.w-75 {
    width: 75%;
}
.progress-bar.w-80 {
    width: 80%;
}
.progress-bar.w-60 {
    width: 60%;
}



/* portfolio */
.portfolio {
    background-color: var(--extraLightGrey);
}
.portfolio-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btns-group {
    display:  flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 3.5rem 0;
}
.btn-item {
    padding: .84rem 1.68rem;
    margin: .7rem;
    border: none;
    background-color: transparent;
    color: var(--lightDark);
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
    transition: all .4s ease-in-out;
}
.btn-active {
    background-color: var(--midYellow);
    color: #fff;
}
.btn-item:hover {
    background-color: var(--midYellow);
    color: #fff;
}
.imgs-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.img-item {
    margin: 1.4rem;
    opacity: 1;
    transform: scale(1);
    transition: .6s ease opacity .6s ease transform;
}

/* team */

.team-wrapper {
    padding: 2.8rem 0;
    display: flex;
    flex-wrap: wrap;
}
.team-item {
    margin: 2.1rem 0;
    transition: all .5s ease;
}
.team-item:hover {
    background-color:  var(--midYellow);
    color: #fff;
}
.team-item-content {
    text-align: center;
    border-bottom: 1px solid var(--lightDark);
}


/* contact */

.contact {
    background-color: var(--lightGrey);
}
.contact-info {
    margin: 2.8rem 0;
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}
.contact-info-item {
    flex: 0 0 100%;
    text-align: center;
    padding: 1.4rem;
    margin: 1.4rem 0;
}
.contact-info-item span {
    font-size: 2.8rem;
    color : var(--dark);
}

.contact-form {
    margin: 1.4rem;
}
.form-control, textarea {
    width: 100%;
    display: block;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 1.26rem .84rem ;
    margin: 1.12rem 0;
    border: 1px solid var(--lightDark);
}
.contact-form textarea {
    height: 150px;
}
.submit-btn {
    margin-top: 1.68rem;
    padding: 1.4rem 0;
    text-transform: uppercase;
    background-color: #fff;
    /* border: 3rem ; */
    border: 2px solid #999;
    transition: all .5s ease;
}
.submit-btn:hover {
    background-color: var(--lightDark);
    color: #fff;
}

.footer-bg {
    height: 300px;
    background: linear-gradient(rgba(255,255,255, .5) ,rgba(255,255,255, .6) ) , url(../images/footer-img.jpg) center/cover no-repeat;
}
.footer-icons {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.footer-icon-item {
    background: var(--dark);
    color: #fff;
    width: 70px;
    height: 70px;
    margin: 1.4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.52rem;
    transition: all .5s ease-in-out;
}
.footer-icon-item:hover {
    background-color: var(--yellow);
}
.footer-text {
    text-align: center;
    background-color: var(--dark);
    padding: 3.36rem;
}
.footer-text .text-light {
    color: #fff;
}